<div class="flex flex-col items-center"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800">Howdy</h2>
  </div>
  <h3 class="font-bold sm:text-4xl text-2xl font-righteous text-zinc-800"></h3>

  <div class="flex flex-col w-full justify-center gap-2 mt-4">
    <%= link_to 'Map', home_map_path, class: "btn-green" %>
  </div>
</div>